@import "variables";
@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-flash.min.css);

body {
	font-family: "IBM Plex Sans", sans-serif;
	color: $color-text;
}

.background {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: $color-background;
	background-image: url("./assets/background.png");

	transform: translate3d(0, 0, 0);
	animation: 25s scroll infinite linear;

	position: fixed;
	top: 0;
	left: 0;
}

@keyframes scroll {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 0px 412px;
	}
}
